<!DOCTYPE html>
<html>
<head>
  <title>MIDI Controlled Image Processing</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/style.css" />
  <script type="text/javascript">
    window.onload = function(){
      var status = document.getElementById("status");
      var ws = null, pid = null;
      var wsHost = "ws://" + window.location.host + "/websocket";

      var retry = function(){
	pid = window.setInterval(function(){
	      console.log('retry ...');
	      connect();
	    }, 1000);
      };
      
      var onOpen = function(e) {
	window.clearInterval(pid);
	pid = null;
        ws = e.target;
	status.textContent = "CONNECTED";
	status.classList.remove('label-danger');
	status.classList.add('label-success');
      };

      var onClose = function() {
        status.textContent = "DISCONNECTED";
	status.classList.add('label-danger');
	status.classList.remove('label-success');
        ws = null;
	retry();
      };

      var onMessage = function (evt) {
	var arrayBuffer = evt.data;
	var bytes = new Uint8Array(arrayBuffer);
	var blob = new Blob([bytes.buffer]);
	var image = document.getElementById('image');
	var reader = new FileReader();
	reader.onload = function(e) {
          image.src = e.target.result;
	};
	reader.readAsDataURL(blob);
      };

      var connect = function(){
	ws = new WebSocket(wsHost);
        ws.binaryType = 'arraybuffer';
	ws.onopen = onOpen;
	ws.onclose = onClose;
	ws.onmessage = onMessage;
	return ws;
      };

      try {
	connect();
      } catch (e) {
	retry();
      }

    };
  </script>
</head>
<body style="padding-top:60px;">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MIDI Controlled Image Processing</a>
        </div>
        <div class="navbar-collapse collapse">
	  <div style="padding: 14px 0;">
	    <p class="label label-lg" id="status">STATUS</p>
	  </div>
        </div>
      </div>
    </nav>

    <div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	<img class="img-responsive thumbnail" id="image" src="/image/" />
      </div>
      <div class="col-sm-6">
	<h1>Setup</h1>
	<p class="lead"></p>
	<ul>
	  <li>
	    <h2>Server</h2>
	    <ul>
	      <li>Raspberry Pi 2</li>
	      <li><a href="http://www.tornadoweb.org/">Tornado</a> webserver with <a href="http://opencv.org/">OpenCV</a></li>
	    </ul>
	  </li>
	  <li>
	    <h2>Client</h2>
	    <ul>
	      <li><a href="http://www.native-instruments.com/en/products/maschine/">Maschine</a> Controller</li>
	      <li>I/O loop with <a href="http://trac.chrisarndt.de/code/wiki/python-rtmidi">rtmidi</a></li>
	    </ul>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>


</body>
</html>
